<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new list</title>
</head>
<body>
    <h2>Create a new listing</h2>
    <form method="POST" action="/listings">
    <input name="listing[title]" placeholder="Enter title" type="text">
    <br><br>
    <input name="listing[description]" placeholder="Enter description" type="text">
    <br><br>
    <input name="listing[image]" placeholder="Enter image URL/link" type="text">
    <br><br>
    <input name="listing[price]" placeholder="Enter price" type="number">
    <br><br>
    <input name="listing[country]" placeholder="Enter country" type="text">
    <br><br>
    <input name="listing[location]" placeholder="Enter location" type="text">
    <br><br>
    <button>Add</button>

    </form>
</body>
</html>